$breakpoints: (
    tablet: 768px,
    desktop: 1024px,
    medium-desktop: 1280px,
    large-desktop: 1800px,
    print-view: desktop
);

$max-content-width: 1440px;

@mixin media($key, $min-max: min, $print: false, $print-view: map-get($breakpoints, print-view)) {
    @if $key != print {
        @media (#{$min-max}-width: #{map-get($breakpoints, $key)}) {
            @content;
        }
    }

    @if $print-view == $key or $key == print-view or $print {
        @media print {
            @content;
        }
    }
}
