$grey: #eee;
$fresh-linen: #fffcf3;
$moon-glow: #f3f7e2;
$frosted-mint: #e1f1ee;
$peppermint: #d8ecd6;
$lavender: #a3afd9;
$buttercup: #f9e244;
$spring: #71c179;
$eucalyptus: #27b79b;
$atoll: #059194;
$elm: #096878;
$thunder: #023f3f;
$apricot: #f19888;
$totem: #f05940;
$blackcurrant: #41344a;
$onyx: #2b262b;
$white: #fff;
$black: #000;

.bg-grey {
    background-color: $grey;
}

.bg-fresh-linen {
    background-color: $fresh-linen;
}

.bg-moon-glow {
    background-color: $moon-glow;
}

.bg-frosted-mint {
    background-color: $frosted-mint;
}

.bg-peppermint {
    background-color: $peppermint;
}

.bg-lavender {
    background-color: $lavender;
}

.bg-buttercup {
    background-color: $buttercup;
}

.bg-spring {
    background-color: $spring;
}

.bg-eucalyptus {
    background-color: $eucalyptus;
}

.bg-atoll {
    background-color: $atoll;
}

.bg-elm {
    background-color: $elm;
}

.bg-thunder {
    background-color: $thunder;
}

.bg-apricot {
    background-color: $apricot;
}

.bg-totem {
    background-color: $totem;
}

.bg-blackcurrant {
    background-color: $blackcurrant;
}

.bg-onyx {
    background-color: $onyx;
}
