// Accordion chevron
%chevron {
    position: absolute;
    right: 0;
    font-family: $ico;
    content: $ico-chevron-down;

    @include transition(transform 0.3s 0.3s);
}

%chevron-active {
    transform: rotate(180deg) translateZ(0);
}
