.accordion-js {
    margin: 20px 0 50px;
    padding: 1px 30px;
    background-color: $frosted-mint;

    @include media(tablet) {
        padding: 1px 60px;
    }

    @include media(medium-desktop) {
        padding: 1px 130px;
    }

    &__head {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        padding: 10px;

        &::after {
            @extend %chevron;

            top: 10px;
            font-size: 20px;
            color: $blackcurrant;

            @include transition(color, transform 0.3s 0.3s);

            .accordion-js--is-open & {
                @extend %chevron-active;

                color: $atoll;
            }
        }

        @include media(tablet) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__content {
        position: relative;
        overflow: hidden;
        max-height: 0;

        @include transition(max-height 0.5s);

        &::before {
            position: absolute;
            top: 0;
            left: 10px;
            right: 10px;
            height: 1px;
            background: rgba($atoll, 0.35);
            content: '';
        }

        .accordion-js--is-open & {
            max-height: 1000px;
            padding-top: 20px;
        }
    }
}
