.accordion {
    margin: 20px;
    position: relative;
    overflow: hidden;

    &__link {
        position: absolute;
        opacity: 0;
        z-index: $z-off-screen;

        &:checked ~ .accordion__content {
            max-height: 500px;
            margin-top: 15px;
        }

        &:checked + label {
            &::after {
                @extend %chevron-active;
            }
        }
    }

    &__header {
        display: block;
        position: relative;
        padding-bottom: 10px;
        border-bottom: solid 2px $frosted-mint;
        cursor: pointer;

        &::after {
            @extend %chevron;

            display: block;
            top: 0;
            font-size: 13px;
            color: $blackcurrant;

            @include media(not-tablet) {
                right: 5%;
            }

            @include media(large-desktop) {
                right: 20%;
            }
        }

        > a {
            margin-right: 20px;

            @include media(not-tablet) {
                margin-right: 30px;
            }
        }
    }

    &__content {
        overflow: hidden;
        max-height: 0;

        @include transition(margin, max-height 0.5s);
    }
}
