$tab-height: 60px;

.tabordion {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__tab {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 23px 0;
        text-align: center;
        color: rgba($blackcurrant, 0.4);
        border-bottom: solid 1px $peppermint;

        @include transition(border, color);

        &::after {
            @extend %chevron;

            right: 10px;
        }

        .tabordion--is-active & {
            color: $atoll;

            &::after {
                @extend %chevron-active;

                color: $blackcurrant;
            }
        }

        @include media(tablet) {
            width: auto;
            min-width: 75%;
            padding: 0;
            border-bottom: none;

            &::after {
                display: none;
            }

            .tabordion--is-active & {
                border-bottom: solid 8px $atoll;
            }
        }
    }

    &__content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;

        &--transform {
            @include transition(max-height 0.5s);
        }

        .tabordion--is-active & {
            max-height: 1000px;
            padding: 50px 0;
            opacity: 1;
            border-bottom: 1px solid $peppermint;
        }

        @include media(tablet) {
            position: absolute;
            left: 0;
            right: 0;
            top: $tab-height;
            z-index: $z-off-screen;

            .tabordion--is-active & {
                padding: 80px 0;
                border-bottom: none;
            }
        }
    }
}
