$tab-height: 60px;

.tabordion-container {
    max-width: 100%;
    margin: 30px 0;
    border-top: solid 1px $peppermint;

    @include media(tablet) {
        border-top: 0;
        border-bottom: 1px solid $peppermint;
    }


    &__nested {
        display: flex;
        flex-flow: column nowrap;

        @include media(tablet) {
            max-width: 756px;
            margin: 0 auto;
            flex-direction: row;
            justify-content: space-around;
            position: relative;
            height: $tab-height;
        }
    }

    &.no-js-fallback {
        .tabordion {
            margin-bottom: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .tabordion__tab {
            display: none;
        }

        .tabordion__content {
            max-height: 999px;
        }
    }
}
