.js-update-background-image {
    height: 140px;
    width: 100%;
    line-height: 0;
    mix-blend-mode: multiply;
    background-size: cover;
    background-position: center;

    @include media(tablet) {
        height: 350px;
    }

    @include media(large-desktop) {
        height: 800px;
    }
}
