
<p>
    This markup allows for the backgroundimage to update via JS on window resize, requires size to be set.
</p>

<div class="js-update-background-image" data-mobile-path="http://via.placeholder.com/260x146" data-tablet-path="http://via.placeholder.com/650x365" data-desktop-path="http://via.placeholder.com/1440x810">
</div>