@import 'variables';

@font-face {
  font-family: 'iconfont';
  src:  url('#{$icomoon-font-path}/iconfont.eot?zcvf14');
  src:  url('#{$icomoon-font-path}/iconfont.eot?zcvf14#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/iconfont.ttf?zcvf14') format('truetype'),
    url('#{$icomoon-font-path}/iconfont.woff?zcvf14') format('woff'),
    url('#{$icomoon-font-path}/iconfont.svg?zcvf14#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-burger:before {
  content: $ico-burger
}
.icon-button-left:before {
  content: $ico-button-left
}
.icon-button-right:before {
  content: $ico-button-right
}
.icon-checkbox-active:before {
  content: $ico-checkbox-active
}
.icon-checkbox-inactive:before {
  content: $ico-checkbox-inactive
}
.icon-chevron-circle:before {
  content: $ico-chevron-circle
}
.icon-chevron-down:before {
  content: $ico-chevron-down
}
.icon-chevron-left:before {
  content: $ico-chevron-left
}
.icon-chevron-right:before {
  content: $ico-chevron-right
}
.icon-chevron-up:before {
  content: $ico-chevron-up
}
.icon-close:before {
  content: $ico-close
}
.icon-droplet:before {
  content: $ico-droplet
}
.icon-flower:before {
  content: $ico-flower
}
.icon-logo-facebook:before {
  content: $ico-logo-facebook
}
.icon-logo-linkedin:before {
  content: $ico-logo-linkedin
}
.icon-logo-pinterest:before {
  content: $ico-logo-pinterest
}
.icon-logo-youtube:before {
  content: $ico-logo-youtube
}
.icon-pagination-active:before {
  content: $ico-pagination-active
}
.icon-pagination-inactive:before {
  content: $ico-pagination-inactive
}
.icon-plant:before {
  content: $ico-plant
}
.icon-pointer-down:before {
  content: $ico-pointer-down
}
.icon-pointer-up:before {
  content: $ico-pointer-up
}
.icon-radio-active:before {
  content: $ico-radio-active
}
.icon-radio-inactive:before {
  content: $ico-radio-inactive
}
.icon-scroll:before {
  content: $ico-scroll
}
.icon-search:before {
  content: $ico-search
}
.icon-waves:before {
  content: $ico-waves
}
.icon-tick:before {
  content: $ico-tick;
}
.icon-logo-twitter:before {
  content: $ico-logo-twitter;
}
