﻿$icomoon-font-path: '../fonts/ico' !default;

$ico-burger: '\e900';
$ico-button-left: '\e901';
$ico-button-right: '\e902';
$ico-checkbox-active: '\e903';
$ico-checkbox-inactive: '\e904';
$ico-chevron-circle: '\e905';
$ico-chevron-down: '\e906';
$ico-chevron-left: '\e907';
$ico-chevron-right: '\e908';
$ico-chevron-up: '\e909';
$ico-close: '\e90a';
$ico-droplet: '\e90b';
$ico-flower: '\e90c';
$ico-logo-facebook: '\e90d';
$ico-logo-linkedin: '\e90e';
$ico-logo-pinterest: '\e90f';
$ico-logo-youtube: '\e910';
$ico-pagination-active: '\e911';
$ico-pagination-inactive: '\e912';
$ico-plant: '\e913';
$ico-pointer-down: '\e914';
$ico-pointer-up: '\e915';
$ico-radio-active: '\e916';
$ico-radio-inactive: '\e917';
$ico-scroll: '\e918';
$ico-search: '\e919';
$ico-waves: '\e91a';
$ico-tick: '\e91b';
$ico-logo-twitter: '\e91c';